
<ion-view view-title="BMI">

  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <form name="purchaseForm" novalidate ng-submit="calculateBMI()">
      <div >
        <label class="item item-input">
          <span class="input-label">Height</span>
          <input type="number" name="height" step="0.01" ng-model="formData.height"  required >
        </label>

      

        <label class="item item-input">
          <span class="input-label">Weight</span>
          <input type="text" name="weight" ng-model="formData.weight" required >
        </label>

      </div>

<div>
       <span class="form-errors" ng-messages="purchaseForm.amount.$dirty && purchaseForm.amount.$error"  >
                       <span class="form-error" ng-message="required">Height required</span>

       </span>
</div>
      <div>
        <span class="form-errors" ng-messages="purchaseForm.weight.$dirty && purchaseForm.weight.$invalid"  >
                        <span class="form-error" ng-message="required">Weight required</span>
                    </span>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-disabled="purchaseForm.$invalid" >
          Calculate
          <ion-spinner ng-show="loading" icon="spiral">
          </ion-spinner>
        </button>

      </div>

  </form>
  <h3>{{calculatedBMI}}</h3>

  </ion-content>
</ion-view>
