<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Fitness</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="energized" type="text"  ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"  ng-model="user.password"></ion-md-input>
        </div>
        <div>
         <span class="form-error" ng-if="loginError.length>0">{{loginError}}</span>
        
        </div>
        <div class="padding">
            <button  class="button button-full button-positive ink" ng-click="signIn(user)">Login</button>
        </div>
      <p class="text-center">
        <a ui-sref="app.register">Register</a>
      </p>
      
    </ion-content>
</ion-view>
