<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{userName}}</a></h3>

            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.list" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> History
            </a>
            <a ui-sref="app.item" class="tab-item">
                <i class="icon ion-android-people"></i> BMI
            </a>

        </div>
        <h4 class="content padding double-padding-x">Notifications</h4>
        <div class="list animate-fade-slide-in-right" >

    </ion-content>
</ion-view>
