<ion-view cache-view="false" view-title="BMI variation">

    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
<div class="ranger">
<div class="row">
           <div>Latest BMI</div>
        </div>
    <div class="ranger-status"> 
       
        <p><span>Height :</span> {{latestBMI.height}}</p><p><span>weight :</span> {{latestBMI.weight}}</p><p><span>bmi : </span> {{latestBMI.bmi}}</p>
    </div>
    <div class="ranger-result"></div>
    <div class="ranger-graph">
        
    </div>
</div>
       <div class="row">
           <div>History</div>
        </div>
        <div class="row">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick">
            </canvas>
        </div>


    </ion-content>
</ion-view>
