
label.item.has-error {
    border-bottom: 2px solid red;
}

label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.form-errors {
    margin: 5px 0
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;}

.bold-text{
    font-weight:bold
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
    margin-top:3px;

}

.delete{
    display: inline-block;
    width: 19px;
    height: 18px;
    text-align: center;
    background-image: url(../img/delete-rec.png);
    background-size: 14px 11px;
    background-repeat: no-repeat;
    /* background-color: red; */
    border-radius: 50%;
    /* font-size: 12px; */
    /* line-height: 18px; */
    cursor: pointer;
}



.select-left {
   /* left: 0;*/
}
