
    <ion-view view-title="Purchase info">
        <form name="purchaseForm" novalidate ng-submit="createPurchaseItem()">

            <ion-content>
                <div class="list">

                    <label class="item item-input">
                        <span class="input-label">Amount</span>
                        <input type="number" name="amount" step="0.01" ng-model="formData.amount" required>

                    </label>
                    <span class="form-errors" ng-messages="purchaseForm.amount.$error"  >
                        <span class="form-error" ng-messages-include="templates/form-errors.html" ng-message="required"></span>
                    </span>
                    <label class="item item-input">
                        <span class="input-label">Date</span>
                        <input type="date" name="date" ng-model="formData.date" required>
                    </label>
                    <span class="form-errors" ng-messages="purchaseForm.date.$error"  >
                        <span class="form-error" ng-messages-include="templates/form-errors.html" ng-message="required"></span>
                    </span>
                    <label class="item item-input">
                        <span class="input-label">Description</span>
                        <input type="text" name="text" ng-model="formData.text" required>

                    </label>
                     <span class="form-errors" ng-messages="purchaseForm.text.$error"  >
                        <span class="form-error" ng-messages-include="templates/form-errors.html" ng-message="required"></span>
                    </span>
                    <label class="item item-input item-select">
                        <span class="input-label">Category</span>
                        <select ng-model="formData.categoryId">
                            <option selected value="1">Consumer item</option>
                            <option  value="2" >Bill</option>
                        </select>

                    </label>

                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive" ng-disabled="purchaseForm.$invalid||loading" >

                        Save
                        <ion-spinner ng-show="loading" icon="spiral">
                        </ion-spinner>
                    </button>
                    <p class="text-center">
                       <!-- <a href="#/tab/list">Purchased list</a>-->
                    </p>
                </div>
        </form>


        </ion-content>
    </ion-view>
 