
    <ion-view cache-view="false" view-title="Purchased info list">

        <ion-content>

            <div class="row">
                <div class="col col-50">
                    <label class="item item-input item-select">
                        <span class="input-label"></span>

                        <select class="select-left" ng-model="options.year" ng-change="getPurchasedInfo()">
                    <option  value="2015">2015</option>
                    <option  value="2016" >2016</option>
                </select>
                    </label>
                </div>
                <div class="col col-50">
                    <label class="item item-input item-select">
                        <span class="input-label"></span>

                 <select class="select-left" ng-model="options.month" ng-change="getPurchasedInfo()">
                    <option  value="0">January</option>
                    <option  value="1" >February</option>
                    <option  value="2">March</option>
                    <option  value="3" >April</option>
                    <option  value="4">May</option>
                    <option  value="5" >June</option>
                    <option  value="6">July</option>
                    <option  value="7" >August</option>
                    <option  value="8">September</option>
                    <option  value="9" >October</option>
                    <option  value="10">November</option>
                    <option  value="11" >December</option>
                </select>
                        </label>
                </div>

            </div>

            <ion-spinner ng-show="loading" icon="spiral">
            </ion-spinner>
            <div class="row" >
                <div class="col bold-text">Item</div>
                <div class="col bold-text">Cost</div>
                <div class="col bold-text">Billed by</div>
                <div class="col bold-text">Date</div>
                <div class="col bold-text"></div>
            </div>
            <div class="row" ng-repeat="item in itemList" >

                <div class="col">{{item.text}}</div>
                <div class="col ">{{item.amount}}</div>
                <div class="col">{{item.userProfileId.firstName}}</div>
                <div class="col">{{item.purchasedDate|date:'MM/dd/yyyy'}}</div>
                <div class="col" ><button ng-click="delete(item)" ng-if="item.deletable"  class="delete"></button></div>

            </div>
            <div class="row" >
                <div class="col bold-text">Total expenses</div>
                <div class="col bold-text">{{totalSum}}</div>
                <div class="col"></div>

            </div>
            <p class="text-center">
               <!-- <a href="#/tab/home">Home</a>-->
            </p>

        </ion-content>
    </ion-view>

